body {
    background-color: #aab7cf;
}

.thead-fixed th {
    position: sticky;
    top: 0;
    z-index: 2; /* S'assurer que l'en-tête reste au-dessus des autres éléments */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); /* Optionnel, ajoute une ombre pour une meilleure visibilité */
}

.scroll {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}



.bottom-right-button {
    position: absolute;  
    bottom: 0.5rem;        
    right: 0.5rem; 
    height:30px;     
    display: inline-flex;
    align-items: center; 
}

.relative {
    position: relative;  /* Relative positioning for the parent div */
}

.body{
    margin-top:20vh;
    color: black
}

#leftBar{
    height: auto; 
    position:fixed
}

#leftBarShow{
    height: auto; 
}

.custom-navbar-height {
    height: 10vh;
    
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* or whatever height you need */
    margin-bottom: 3px;
}
.bouton-suppr-index{
    margin-left: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center; /* Optionnel, si vous voulez centrer horizontalement aussi */
    height: 100%; /* Remplacer par une valeur fixe si fill ne fonctionne pas */
    padding-left:1em;
    padding-right:1em;
    width:30px
}

.bouton-plus-index{
    margin-left: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center; /* Optionnel, si vous voulez centrer horizontalement aussi */
    height: 30px; /* Remplacer par une valeur fixe si fill ne fonctionne pas */
    width:30px;

}

.recipe {
    border: 1px solid gray;
    padding: 10px;
    height:100%;
    margin:0px;
    background-color: none;
    overflow:hidden
}
.recipe .col {
    margin-bottom: 10px;
}
.recipe-buttons {
    display: flex;
    gap: 10px;
}
.recipe-buttons .btn {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.btn-success {
    background-color: #28a745;
}

.image-container {
    text-align: center;
    overflow: hidden;
}
.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#filter{
    max-height:40vh
}

.pagination {
    margin-top: 20px;
}
.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.custom-form-control {
    border-radius: 15px; /* Contours arrondis */
    border: 1px solid black; /* Contours noirs par défaut */
    color: black; /* Texte noir */
    background-color: white; /* Fond blanc pour contraste */
}

.custom-form-control:focus {
    border-color: rgb(20, 19, 19); /* Couleur primaire de Bootstrap */
    border-width: 2px; /* Bordure de 2px */
    box-shadow: 0 0 0px Black; /* Ombre pour l'effet focus */
    outline: none; /* Supprimer l'effet de focus par défaut */
}

.custom-file-control {
    border-radius: 15px; /* Contours arrondis */
    border: 1px solid black; /* Contours noirs par défaut */
    
    color: black; /* Texte noir */
    background-color: white; /* Fond blanc pour contraste */
}

.custom-file-control:focus {
    border-color: black; /* Couleur primaire de Bootstrap */
    border-width: 2px; /* Bordure de 2px */
    box-shadow: 0 0 5px black; /* Ombre pour l'effet focus */
    outline: none; /* Supprimer l'effet de focus par défaut */
}

.bg-form{
    background-color: #bc8f8f66;
}

.custom-btn-outline-success {
    background-color: white; /* Couleur de fond blanche par défaut */
    color: #198754; /* Couleur du texte correspondant à la classe outline-success */
    border-color: #198754; /* Couleur de la bordure correspondant à la classe outline-success */
    padding: 2px 6px
    
}

.custom-btn-outline-success:hover {
    background-color: #198754; /* Couleur de fond verte au survol */
    color: white; /* Couleur du texte blanche au survol */
}

.custom-btn-outline-danger {
    background-color: white; /* Couleur de fond blanche par défaut */
    color: #dc3545; /* Couleur du texte correspondant à la classe outline-danger */
    border-color: #dc3545; /* Couleur de la bordure correspondant à la classe outline-danger */
    padding: 2px 6px; /* Ajout du padding manquant */
    height: 70%;
    margin-top:auto
}

.custom-btn-outline-danger:hover {
    background-color: #dc3545; /* Couleur de fond rouge au survol */
    color: white; /* Couleur du texte blanche au survol */
}


#rowPic{
    display:ruby
}

#btnGroup, i{
    font-size: 1.5em;

}
#btnGroup{
    display:flex
}

#picShow{
    width: 60%;
    
   }