<form method="post" action="{{ path('app_recipe_delete', {'id': recipe.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette recette?');">
    <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash-fill"></i>
    </button>
</form>
