<form method="post" action="{{ path('app_recipe_delete', {'id': recipe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button type="button" class="btn btn-danger">
        <i class="bi bi-trash-fill"></i>
    </button>
</form>
