{{ form_start(form, {'attr': {'id': 'myForm'}}) }}
Filtrez les recettes par ingrédient! 
<button type="submit" class="btn btn-primary bottom-right-button rounded"> Valider </button>

    <div  id="criterias" data-prototype="{{ form_widget(form.criterias.vars.prototype)|e('html_attr') }}"><center>
        {% for criteria in form.criterias %}
                {{ form_row(criteria) }}
        {% endfor %}</center>
        <span></span>
        
</div>

{{ form_end(form) }}

{% block javascripts %}
<script>
    let collection, boutonAjout, span, formulaire;
    window.onload = () => {
        collection = document.querySelector("#criterias");
        span = collection.querySelector("span");
        formulaire = document.querySelector("form");

        boutonAjout = document.createElement("button");
        boutonAjout.type = "button";
        let plus = document.createElement("i");

        
        boutonAjout.className="bouton-plus-index btn btn-outline-success rounded ";
        plus.className="bi bi-plus-circle-fill"
        boutonAjout.appendChild(plus);
        span.appendChild(boutonAjout);

        // Récupérez tous les divs déjà présents
        let divs = collection.querySelectorAll("div");
        divs.forEach((div, index) => {
            div.classList.add("centered");
            div.style.height="30px"; 
            ajouterBoutonSuppression(div, index);
        });

        collection.dataset.index = divs.length;

        boutonAjout.addEventListener("click", () => {
            ajouterNouvelElement();
        });

        // Ajout de l'écouteur d'événement pour la soumission du formulaire
        formulaire.addEventListener("submit", (event) => {
            if (!validerFormulaire()) {
                // Ajoutez un champ caché pour indiquer que tous les critères doivent être affichés
                let inputHidden = document.createElement("input");
                inputHidden.type = "hidden";
                inputHidden.name = "all_recipes";
                inputHidden.value = "true";
                formulaire.appendChild(inputHidden);
            }
        });
    };

    function ajouterBoutonSuppression(element, index) {
        let boutonSuppr = document.createElement("button");
        boutonSuppr.type = "button";
        boutonSuppr.id = "delete-ingredient-" + index;
        boutonSuppr.className="bouton-suppr-index btn btn-outline-danger ";

            // Créer l'image et l'ajouter au bouton
        let i = document.createElement("i");
        i.className="bi bi-trash3";
        
         
        boutonSuppr.classList.add("rounded");
        boutonSuppr.appendChild(i);

        boutonSuppr.addEventListener("click", () => {
            element.remove();
        });

        element.appendChild(boutonSuppr);
    }

    function ajouterNouvelElement() {
        let prototype = collection.dataset.prototype;
        let index = collection.dataset.index;

        prototype = prototype.replace(/__name__/g, index);

        let newElement = document.createElement("div");
        newElement.classList.add("centered");
        newElement.style.height="30px";
        newElement.innerHTML = prototype;

        ajouterBoutonSuppression(newElement, index);

        span.insertBefore(newElement, boutonAjout);

        collection.dataset.index++;
    }
</script>
{% endblock %}
